/* ===== Webサイト全体のスタイル ===== */
/* html */
html {
  height: 100%;
}

/* body */
body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  background-color: #e0efff;/* 背景の色 */
  color: #5a6066;
}

/* h1見出し */
h1 {
  color: #ffffee;/* フォントの色 */
  font-size: 90px;/* フォントの大きさ */
  font-family: cursive;/* フォントの種類 */
  border-top: solid;/* 上線の種類 */
  border-bottom: solid; /*. */
  border-color: #e0efff;/* 線の色 */
  border-width: 10px;/* 線の太さ */
  text-align: center;/* 文字・画像を中央にそろえる */
  /* border-radius: 90px; 枠線の角丸 */
  padding: 20px;/* 内側の余白 */
  margin: 50px;/* 外側の余白 */
}

/* ===== ヘッダーのスタイル ===== */
/* ヘッダーの箱 */
header {
  background-image: url(img/header.jpeg);/* 背景画像 */
  width: 100%;
  height: 450px;/* 高さ */
  padding-top: 150px;/* 上がわの余白 */
  background-size: cover;
}


/* ===== お店紹介のスタイル ===== */
/* セクション */
.shop {
  padding: 30px;
}

/* h2見出し */
.title {
  font-size: 30px;
  border-left-style: solid;
  border-left-width: 10px;
  padding-left: 15px;
  margin-bottom: 50px;
}

/* 段落 */
.shop p {
  font-size: 20px;
  font-family: HiraMinProN-W3;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 30px;
  height: 250px;
}

/* 画像 */
.shop img {
  float: right;/* 画像や箱の回り込み */
  margin: 10px;
}

.photo .title {
  font-size: 30px;
  border-left-style: solid;
  border-left-width: 10px;
  padding-left: 15px;
  margin-bottom: 50px;
  margin: 30px;
}

.photo div{
  font-family: HiraMinProN-W3;
}


.daily {
  padding-left: 100px;
}

.daily img{
  height: 280px;
  width: 400px;
  object-fit: cover;
}

.gradation {
  height: 50px;
  padding: 0px;
}

.to8 {
  background: linear-gradient(#e0efff, #fffff9);
}

.am8{
  background-color: #fffff9;
  height: 430px;
  padding: 100px;
}

.to11 {
  background: linear-gradient(#fffff9, #00afcc);
}

.am11{
  background-color: #00afcc;
  color: #e0efff;
  height: 400px;
  padding: 100px;
}

.to3 {
  background: linear-gradient(#00afcc, #e6c0c0);
}

.pm3{
  background-color: #e6c0c0;
  height: 400px;
  padding: 100px;
}

.to7 {
  background: linear-gradient(#e6c0c0, #47266e);
}

.pm7{
  background-color: #47266e;
  color: #e0efff;
  height: 400px;
  padding: 100px;
}

.tobase {
  background: linear-gradient(#47266e, #e0efff);
}

footer p{
  text-align: center;
}